<div class="produto-container">
<h2>Adicionar Categoria</h2>
<form action="/categories/add" method="post" class="form">
<div class="form-control">
    <label for="descricao">Descrição</label>
    <input type="text" name="descricao" id="descricao" placeholder="Digite a descrição da categoria" required>
</div>
<input type="submit" class="btn" value="Adicionar">
</form>
<p><a href="/categories" class="link">Voltar</a></p>
</div>
